@charset "utf-8";
@import "bulma/css/bulma.css";
@import "bulma-calendar/dist/css/bulma-calendar.min.css";

.banner-calligraphy {
  font-family: cursive;
  font-size: 1.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
